<%= render "shared/header" %>
  
<div class="main-books-wrapper">
  <div class="left-side-bar">
    <div class="left-bar-contents">
      <%= link_to edit_user_path(@user) do %>
      <div class="user-image">
        <% if @user.image.attached? %>
          <%= image_tag(rails_blob_path(@user.image), size: "140x135", class: "user-icon", alt: "ユーザーアイコン画像") %>
        <% else %>
          <p><%= image_tag("default_user.png", size: "140x135", class: "user-icon", alt: "デフォルトアイコン画像") %></p>
        <% end %>
      </div>
      <% end %>
      <div class="left-bar-title">
        <%= @user.name %>
      </div>
      <div class="user-text">
        <% if @user.text %>
          <p><%= @user.text %></p>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="left-bar-list">
          <ul class="left-content-lists">
            <li class="left-content"><%= link_to "ブックリスト", "#", class:"content-btn" %></li>
            <li class="left-content"><%= link_to "お気に入り", favorites_books_path, class:"content-btn" %></li>
          <ul>
        </div>
        <% if current_user.id == @user.id %>
          <div class="logout-btn">
            <div class="logout">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"bottom-logout-btn" %>
            </div>
          </div>
        <%# <% else %>
          <%# <div class="follow-btn"> %>
            <%# <a href="#", class="follow-user">フォローする</a> %>
          <%# </div> %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# 投稿一覧 %>
  <div class="books-timeline">
    <div class="books-container">
    <ul class="user-book-lists">
      <% @user.books.each do |book| %>
      <li class="content">
        <%= link_to book_path(book) do %>
        <div class='book-img-content'>
          <%= image_tag book.image, class: "book-img", alt: "本の画像" %>
        </div>
        <% end %>
        <div class="book-info">
          <h3 class="book-title">
            <%= book.title %>
          </h3>
          <div class="book-author">
            <%= "著者：#{book.author}" %>
          </div>
          <div class="tags">
              <ul class="tag">
                <li class="tag-list">
                  <% book.tags.each do |tag| %>
                    <P>#<%= link_to tag.name, tags_path(tag_id: tag.id), class:"tag" %></p>
                  <%end%>
                </li>
              </ul>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class='star-btn' id="book-<%= book.id %>">
            <%= render "/books/favorite" ,{ book: book } %>
          </div>
          <% if current_user.id == @user.id %>
            <div class="action-button">
              <ul class="action-lists">
                <li>
                  <%= link_to '編集', edit_book_path(book), class:"edit-button" %>
                </li>
                <li>
                  <%= link_to '削除', book_path(book), method: :delete, class:"delete-button" %>
                </li>
              </ul>
            </div>
          <% end %>
        <% end %>
      </li>
      <% end %>
    </ul>
    </div>
    <%# 投稿一覧ここまで %>
  </div>

  <div class="right-side-bar">
    <div class='add-btn'>
      <span class='add-btn-text'>追加する</span>
      <a href="/books/new">
      <%= image_tag 'book_btn.png' , size: '200x50' ,class: "add-btn-icon" %>
      </a>
    </div>
  </div>