<div class="main-books-wrapper">
  <div class="left-side-bar">
    <div class="left-bar-contents">
      <% if user_signed_in? %>
        <div class="user-image">
        <% if current_user.image.attached? %>
          <p><%= image_tag(rails_blob_path(current_user.image),size: "140x135", class: "user-icon") %></p>
        <% else %>
          <p><%= image_tag("default_user.png", size: "140x135", class: "user-icon") %></p>
        <% end %>
        </div>
        <div class="left-bar-top">
          <%= current_user.name %>
        </div>
        <div class="move-to-show">
            <%= link_to "書斎へ行く", user_path(current_user.id), class:"move-show" %>
        </div>
        <div class="left-bar-list">
          <ul class="left-content-lists">
            <li class="left-content"><%= link_to "ブックリスト", "#", class:"content-btn" %></li>
            <li class="left-content"><%= link_to "お気に入り", "#", class:"content-btn" %></li>
          <ul>
        </div>
      <% else %>
        <div class="gest">ようこそ<br>ゲストさん</div>
      <% end %>
    </div>
  </div>

  <%# 投稿一覧 %>
  <div class="books-timeline">
    <div class="books-container">
    <ul class="book-lists">
      <% @books.each do |book| %>
      <li class="content">
          <%= link_to book_path(book.id) do %>
          <div class='book-img-content'>
            <%= image_tag book.image, class: "book-img" %>
          </div>
          <% end %>
          <div class="book-info">
            <h3 class="book-title">
              <%= book.title %>
            </h3>
            <div class="book-author">
              <%= "著者：#{book.author}" %>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
      </li>
      <% end %>
    </ul>
    </div>
  </div>
  <div class="right-side-bar">
    <div class='add-btn'>
      <span class='add-btn-text'>追加する</span>
      <a href="/books/new">
      <%= image_tag 'book_btn.png' , size: '200x50' ,class: "add-btn-icon" %>
      </a>
    </div>
  </div>
</div>