<div class="main-books-wrapper">
  <div class="left-side-bar">
    <div class="left-bar-contents">
      <% if user_signed_in? %>
        <%= render partial: "left_bar", locals: { user: current_user } %>
      <% else %>
        <div class="gest">ようこそ<br>ゲストさん</div>
      <% end %>
    </div>
  </div>

  <%# 投稿一覧 %>
  <div class="books-timeline">
    <div class="books-container">
      <ul class="book-lists">
      <% if @results %>
        <% @results.each do |result| %>
          <li class="content">
            <%= link_to book_path(result) do %>
              <div class='book-img-content'>
                <%= image_tag result.image, class: "book-img" %>
              </div>
            <% end %>
            <div class="book-info">
              <h3 class="book-title">
                <%= result.title %>
              </h3>
              <div class="book-author">
                <%= "著者：#{result.author}" %>
                <% if user_signed_in? %>
                  <div class='star-btn' id="book-<%= result.id %>">
                    <%= render "favorite", { book: result } %>
                  </div>
                <% end %>
              </div>
              <div class="tags">
                <ul class="tag">
                  <li class="tag-list">
                    <% result.tags.each do |tag| %>
                      <p>#<%= link_to tag.name, tags_path(tag_id: tag.id), class:"tag" %></p>
                    <%end%>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      <% else %>
        <%= book_list(@books) %>
    <% end %>
    </ul>
    </div>
  </div>
  <%= render "right_bar" %>
</div>