<div class="main-books-wrapper">
  <div class="left-side-bar">
    <div class="left-bar-contents">
      <div class="left-bar-top">
        <% if user_signed_in? %>
        <%= link_to "#{current_user.name}", user_path(current_user.id), class:"user-name" %>
        <% end %>
      </div>
      <div class="left-bar-list">
        <ul class="left-content-lists">
          <li class="left-content"><%= link_to "ブックリスト", "#", class:"content-btn" %></li>
          <li class="left-content"><%= link_to "お気に入り", "#", class:"content-btn" %></li>
          <li class="left-content"><%= link_to "見つける", "#", class:"content-btn" %></li>
        <ul>
      </div>
    </div>
  </div>
  <div class="books-timeline">
    <ul class="book-lists">
      <% @books.each do |book| %>
      <li class="content">
          <%= link_to book_path(book.id) do %>
          <div class='book-img-content'>
            <%= image_tag book.image, class: "book-img" %>
          </div>
          <div class="book-info">
            <h3 class="book-title">
              <%= book.title %>
            </h3>
            <div class="book-author">
              <span><%= "著者：#{book.author}" %></span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="right-side-bar">
    <div class='add-btn'>
      <span class='add-btn-text'>追加する</span>
      <a href="/books/new">
      <%= image_tag 'book_btn.png' , size: '200x50' ,class: "purchase-btn-icon" %>
      </a>
    </div>
  </div>
</div>