<%= render "shared/header" %>
  
<div class="book-content-wrapper">
    <div class="back-btn-wrapper">
      <%= link_to root_path do %>
      <div class="home-back-btn-container">
        <div class="back-btn">
          <%= image_tag 'home-btn.png', size: '50x50' ,class: "back-btn-icon", alt: "ホームボタン" %>
        </div>
      </div>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to user_path(current_user.id) do %>
      <div class="back-btn-container">
        <div class="back-btn">
          <%= image_tag 'human-logo.png', size: '50x50' ,class: "back-btn-icon", alt: "ユーザーページ遷移ボタン" %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  <div class="show-books-wrapper">
    <div class="left-side-container">
      <div class="left-side-contents">
        <div class="book-image">
          <%= image_tag(rails_blob_path(@book.image), class: "book-img", alt: "本の画像") %>
        </div>
        <div class="left-bar">
          <%= @book.title %>
        </div>
        <div class="book-author">
          <%= "著者 : #{@book.author}" %>
        </div>
        <div class="book-tags">
            <% @book.tags.each do |tag| %>
            <p>#<%=link_to tag.name, tags_path(tag_id: tag.id), class:"tag"%></p>
            <% end %>
        </div>
        <% unless user_signed_in? && current_user.id  == @book.user.id %>
        <div class="post-user-account">
          <%= link_to "#{@book.user.name}", user_path(@book.user.id), class:"user-account" %>
          <span>さんの投稿</span>
        </div>
        <% end %>
      </div>
    </div>

    <div class="posts-index">
      <% if user_signed_in? && current_user.id  == @book.user.id %>
      <div class="create-content">
        <%= link_to 'アウトプット', new_book_post_path(@book), class:"add-btn-post" %>
      </div>
      <% end %>
      <div class="post-contents-wrapper">
        <div class="post-contents">
          <% if @book.posts %>
            <ul class="posts">
              <% @book.posts.each do |post| %>
                <li class="post">
                  <div class="upper-content">
                    <div class="highlight-content">
                      <%= link_to "#{post.highlight}", "/books/#{post.book_id}/posts/#{post.id}", class:"highlight-btn" %>
                    </div>
                  </div>
                  <div class="lower-content">
                    <div class="post-date">
                      <%= l post.created_at %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>