<%= render "shared/header" %>

<div class="post-content-wrapper">
  <div class="main-books-wrapper">
    <div class="back-btn-wrapper">
      <%= link_to book_path(@post.book_id) do %>
        <div class="back-btn-container">
          <div class="back-btn">
            <%= image_tag 'back-btn.png', size: '50x50' ,class: "back-btn-icon", alt: "戻るボタン" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="left-side-container">
      <div class="left-side-contents">
        <div class="book-image">
          <%= image_tag(rails_blob_path(@post.book.image), class: "book-img", alt: "本の画像") %>
        </div>
        <div class="left-bar-book-title">
          <%= @post.book.title %>
        </div>
        <div class="book-author">
          <%= "著者：#{@post.book.author}" %>
        </div>
        <div class="left-bottom-contents">
          <% unless user_signed_in? && current_user.id  == @post.book.user.id %>
            <div class="post-user-account">
              <%= link_to "#{@post.book.user.name}", user_path(@post.book.user.id), class:"user-account" %>
              <span>さんの投稿</span>
            </div>
          <% end %>
          <% if user_signed_in? && current_user.id == @post.book.user.id %>
            <div class="only-post-user">
              <%= link_to '編集', edit_book_post_path(@post.book.id),class:"post-edit action-btn"  %>
              <%= link_to '削除', book_post_path(@post.book.id), method: :delete, class:"post-delete action-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="posts-index">
      <div class="post-top-content">
        <div class="highlight">
          <%= @post.highlight %>
        </div>
      </div>
      <div class="post-bottom-content">
        <div class="post-text">
          <%= @post.text %>
        </div>
        <div class="post-time">
          <%= l @post.created_at %>
        </div>
      </div>
    </div>
  </div>
</div>

