<%= render "shared/second-header" %>

<div class="post-content-wrapper">
  <div class="main-books-wrapper">
    <div class="left-side-container">
      <div class="left-side-contents">
        <div class="book-image">
          <p><%= image_tag(rails_blob_path(@post.book.image), class: "book-icon") %></p>
        </div>
        <div class="left-bar-title">
          <%= @post.book.title %>
        </div>
        <div class="book-author">
        <p><%= "著者：#{@post.book.author}" %></p>
        </div>
        <div class="tag">
          ここにタグが入ります。
        </div>
        <div class="left-bottom-contents">
          <% unless current_user.id  == @post.book.user.id %>
          <div class="post-user-account">
            <%= link_to "#{@post.book.user.name}", user_path(@post.book.user.id), class:"user-account" %>
            <span>さんの投稿</span>
          </div>
        <% end %>
          <% if current_user.id == @post.book.user.id %>
            <div class="only-post-user">
              <a><%= link_to '編集', edit_book_post_path(@post.book.id),class:"post-edit action-btn"  %></a>
              <a><%= link_to '削除', book_post_path(@post.book.id), method: :delete, class:"post-delete action-btn" %></a>
            </div>
          <% else %>
            <div class="follow-btn">
              <a href="#", class="follow-user">フォローする</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="post-container">
      <div class="post-top-content">
        <div class="highlight">
          <%= @post.highlight %>
        </div>
      </div>
      <div class="post-bottom-content">
        <div class="post-text">
          <%= @post.text %>
        </div>
      
        <div class="post-time">
          <%= l @post.created_at %>
        </div>
      </div>
      <div class="comment-wrapper">
        <h2>コメント</h2>
        <div class="comment-table">
        </div>
      </div>
    </div>
  </div>
</div>

