<%= form_with model: sale, url: sales_path(book_id: book.id), local: true do |f| %>

        <div class="form">
        
          <div class="weight-bold-text">
          本の状態
          <span class="indispensable">必須</span>
          </div>
            <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
          <div class="items-detail">
            <div class="weight-bold-text">
            配送料の負担
            <span class="indispensable">必須</span>
            </div>
            <%= f.collection_select(:transfer_fee_id, TransferFee.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        </div>
      </div>
    </div>
    <%# 販売価格 %>
      <div class="sell-price">
      <div>
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
      </div>
    </div>
    <%# /販売価格 %>
    </div>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="sell-btn-contents">
      <%= f.submit "出品する", class:"sell-btn" %>
      <%=link_to 'もどる', user_path(@book.user.id), class:"back-button" %>
    </div>
<% end %>