<%= render "shared/second-header"%>

<div class="items-sell-contents">
  <div class="sale-container">
    <h2 class="items-sell-title">本の情報</h2>
  <div class="items-sell-main">
    <div class="content-book">
      <div class="book-img-content">
        <%= image_tag @book.image, class: "book-img" %>
      </div>
      <div class="book-info">
        <h3 class="book-title">
          <%= @book.title %>
        </h3>
        <div class="book-author">
        <%= "著者：#{@book.author}" %>
        </div>  
      </div>
    </div>

    <div class="sales-info">
      <%= render partial: "sale_form", locals: { sale: @sale, book: @book } %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>