<!DOCTYPE html>
<html>
  <head>
    <title>Rebom2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@500&family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
